.new-find {
  width: 90%;
  background: #fff;
  position: relative;
  top: -72px;
  margin: 0 auto;
  clear: both;
  border: solid 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
}
.new-find .row {
  margin-bottom: 36px;
}
.new-find .row .col-1 {
  margin-right: 24px;
}
.new-find h2 {
  padding: 12px 0;
  color: #4E7B8E;
}
.new-find h2 i {
  margin-right: 12px;
}
.new-find h2:hover {
  color: #17475C;
  cursor: pointer;
}
.new-find .open h2 {
  padding-bottom: 24px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}
.new-find .set {
  padding: 12px;
}
.new-find .set:nth-child(odd) {
  background: rgba(0, 0, 0, 0.03);
}
.new-find .set > div {
  padding-top: 24px;
}
.new-find .set input,
.new-find .set select,
.new-find .set textarea {
  width: 100%;
  outline-color: #056599;
}
.new-find .set input[type="number"] {
  width: 25%;
}
.new-find .set textarea {
  height: 200px;
}
.new-find .set label {
  display: inline-block;
  padding-top: 6px;
}
.new-find .set p {
  margin-top: 6px;
  color: #666;
  font-size: 85%;
  font-weight: 300;
  line-height: 125%;
}
.new-find .set .unit {
  font-style: italic;
}
.new-find .form-actions {
  margin-top: 24px;
}
