/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/*Grid*/
.row {
  display: flex;
}
.row .col-1 {
  flex: 1;
}
.row .col-2 {
  flex: 2;
}
body {
  font-family: 'Open Sans', sans-serif;
  color: #4A4949;
}
h1 {
  font-size: 24px;
  margin-bottom: 36px;
  padding-bottom: 12px;
  border-bottom: solid 2px rgba(0, 0, 0, 0.1);
}
h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 24px;
}
input[type="text"],
input[type="number"],
select,
textarea {
  height: 40px;
  border: solid 1px rgba(0, 0, 0, 0.2);
  padding: 6px 12px;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  appearance: none;
  -webkit-appearance: none;
  font-size: 16px;
  resize: none;
}
/* Utility Classes */
.hundy {
  width: 100%;
}
.default-margin {
  margin: 12px;
}
.margin-left {
  margin-left: 12px;
}
.margin-right {
  margin-right: 12px;
}
.margin-top {
  margin-top: 12px;
}
.margin-bottom {
  margin-bottom: 12px;
}
header {
  width: 100%;
  height: 50px;
  color: #2d2d2d;
  text-align: center;
  line-height: 50px;
  text-transform: uppercase;
  letter-spacing: .1em;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
  border-bottom: solid 1px rgba(0, 0, 0, 0.05);
}
header.child {
  height: 150px;
  background: #4D4D4D;
  text-align: left;
  color: #fff;
  padding: 12px 24px;
}
header.child i {
  display: inline-block;
  padding-right: 12px;
}
article {
  background: #eee;
}
/*Default section*/
article > section {
  padding: 24px;
}
section.dashboard {
  padding: 12px;
  background: #eee;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-between;
}
.dashboard > div {
  height: 200px;
  width: 24%;
  background: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  padding: 12px;
  margin-bottom: 10px;
  position: relative;
}
.dashboard .add-find i {
  display: block;
  width: 100%;
  text-align: center;
  color: #8B250F;
  line-height: 180px;
}
.new-find {
  width: 90%;
  background: #fff;
  position: relative;
  top: -72px;
  margin: 0 auto;
  clear: both;
  border: solid 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
}
.new-find .row {
  margin-bottom: 36px;
}
.new-find .row .col-1 {
  margin-right: 24px;
}
.new-find h2 {
  margin-top: 12px;
}
.new-find input,
.new-find select,
.new-find textarea {
  width: 100%;
  outline-color: #114BC8;
}
.new-find input[type="number"] {
  width: 25%;
}
.new-find textarea {
  height: 200px;
}
.new-find label {
  display: inline-block;
  padding-top: 6px;
}
.new-find p {
  margin-top: 6px;
  color: #666;
  font-size: 85%;
  font-weight: 300;
  line-height: 125%;
}
.new-find .unit {
  font-style: italic;
}
.find-lbl {
  color: #bbb;
  letter-spacing: .1em;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 90%;
}
.find-info {
  font-size: 120%;
  margin-bottom: 12px;
}
.fa-long-arrow-right {
  position: absolute;
  right: 12px;
  bottom: 12px;
}
