@import './layout/variables.less';

section.dashboard {
	padding: 12px;
	background: #eee;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-flex-flow: row wrap;
	justify-content: space-between;
}

.dashboard > div {
	width: 24%;
	background: #fff;
	box-shadow: 0 0 5px 0 rgba(0,0,0,.1);
	padding: 12px;
	margin-bottom: 10px;
	position: relative;
	height: 175px;

	p {
		word-break: break-all;
	}
}

.dashboard .add-find i {
	display: block;
	width: 100%;
	text-align: center;
	color: #8B250F;
	line-height: 160px;
}