<div class="find-item">
	
	<div class="find-heading">
		<!-- <h4 data-ng-if="find.findId">{{ find.findId }}</h4>
		<h4 data-ng-if="!find.findId">Unknown ID</h4> -->
		<h4>{{ find.SID }}</h4>
	</div>
	
	<!-- <span class="fa fa-angle-right fa-2x" aria-hidden="true"></span> -->
	<p><span class="find-lbl">Latitude</span><br><strong>{{ find.location.lat }}</strong></p>
	<p><span class="find-lbl">Longitude</span><br><strong>{{ find.location.lng }}</strong></p>
	
	<i class="fa fa-long-arrow-right"></i>

</div>