@import './variables.less';

html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

/*Grid*/
.row {
	display: flex;
	.col-1 { flex: 1; }
	.col-2 { flex: 2; }

	@media screen and (max-width: 647px) {
		display: block;
		.col-1, .col-2 {
			display: block;
			width: 100%;
			margin-bottom: @defaultMargin * .5;
		}
	}
}

body {
	font-family: 'Open Sans', sans-serif;
	color: #4A4949;
	background: #eee;
}

h2 {
	font-size: 24px;
	margin-bottom: @defaultMargin;
	padding-bottom: 12px;
	border-bottom: solid 2px rgba(0,0,0,.1);
}

h3 {
	font-size: 18px;
	font-weight: bold;
}

h4 {
	color: @submarine;
}

//Inputs
input[type="text"], input[type="number"], select, textarea {
	height: 40px;
	border: solid 1px rgba(0,0,0,.2);
	padding: 6px 12px;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	appearance: none;
	-webkit-appearance: none;
	font-size: 16px;
	resize: none;
}

button {
	appearance: none;
	-webkit-appearance: none;
	background: rgba(0,0,0,.1);
	padding: 12px 18px;
	border: none;
	outline: none;
	border-radius: 3px;
	font-size: 1em;
}

button.btn-link {
	background: transparent;
	padding: 0;
	display: inline;
	color: @linkBlue;
	&:hover, &:active {
		color: darken(@linkBlue, 10%);
		text-decoration: underline;
		cursor: pointer;
		background: transparent;
	}
}

button.primary {
	background-color: @submarine;
	color: #fff;
}

button:hover {
	cursor: pointer;
	background-color: rgba(0,0,0,.2);
}

button.primary:hover {
	background-color: darken(@submarine, 10%);
}

button.navigation {
	background: transparent;
	text-align: left;
	color: #fff;
	padding: 12px 24px;
	line-height: 50px;
	text-transform: uppercase;
	letter-spacing: .1em;
}

a {
	color: @linkBlue;
}

a:hover, a:active {
	text-decoration: underline;
	color: darken(@linkBlue, 10%);
	cursor: pointer;
}

.icon {
	width: 24px;
	height: 24px;
	display: inline-block;
}

/* Utility Classes */
.hundy { width: 100%; }
.pull-right { float: right; }
.pull-left { float: left; }

.default-margin { margin: @defaultMargin; }
.margin-left { margin-left: @defaultMargin; }
.margin-right { margin-right: @defaultMargin; }
.margin-top { margin-top: @defaultMargin; }
.margin-bottom { margin-bottom: @defaultMargin; }
.margin-top-2x { margin-top: @defaultMargin * 2; }

strong {
	font-weight: bold;
}

header {
	// height: 72px;
	color: #fff;
	line-height: 50px;
	text-transform: uppercase;
	letter-spacing: .1em;
	box-shadow: 0 0 2px 0 rgba(0,0,0,.1);
	border-bottom: solid 1px rgba(0,0,0,.05);
	background: @submarine;
	padding: 6px 12px;
	
	h1 {
		display: inline-block;
	}

	button.btn-sync {
		position: absolute;
		right: 12px;
		height: 50px;
		background: @submarine-dark;
		color: @submarine-white;
	}

	.header-query {
		position: absolute;
		right: 0;
	}

	.icon {
		vertical-align: middle;
		position: relative;
		bottom: 2px;
		margin-right: 6px;
	}
}

section.alert-banner {
	padding: 12px;
	background: @niceGray;
	color: #eee;
	position: relative;

	> span {
		font-size: 87.5%;
	}

	.fa-close {
		position: absolute;
	  right: 12px;
	  top: 6px;
	  padding: 6px 8px;
	  border-radius: 16px;
	}
};

.alert-banner.error {
	background: @failure-red;
	border-bottom: 1px solid darken(@failure-red, 10%);
	
	.fa-close {
		background: darken(@failure-red, 10%);
		
		&:hover {
	  	background: darken(@failure-red, 20%);
	  }
	}
}

.alert-banner.success {
	background: @success-green;
	border-bottom: 1px solid darken(@success-green, 10%);

	.fa-close {
		background: darken(@success-green, 10%);

		&:hover {
			background: darken(@success-green, 15%);
		}
	}
}

header.child {
	height: 150px;
	background: @niceGray;
	text-align: left;
	color: #fff;
	padding: 12px 24px;
	i {
		display: inline-block;
		padding-right: 12px;
	}
}

// article {
// 	background: #eee;
// 	// height: 100vh;
// }

/*Default section*/
article > section { padding: 24px; }

/* Icons */
.fa-check-circle {
	color: @success-green;
}

.fa-exclamation-triangle {
	color: @failure-red;
}